{
  "presets": ["@babel/preset-react", ["@babel/preset-env", { "modules": false }]],
  "plugins": [
    "emotion",
    "@babel/plugin-proposal-class-properties",
    "react-docgen",
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ],
    ["inline-react-svg", { "ignorePattern": "(?<!\\.component)\\.svg$" }],
    [
      "file-loader",
      {
        "name": "[hash].[ext]",
        "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
        "publicPath": "/eurosport-web-toolkit/",
        "outputPath": "/dist/assets",
        "context": "src",
        "limit": 0
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
