{
  "presets": ["@babel/preset-react", ["@babel/preset-env"]],
  "plugins": [
    [
      "emotion",
      {
        "autoLabel": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".css"]
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ],
    ["inline-react-svg", { "ignorePattern": "(?<!\\.component)\\.svg$" }]
  ]
}
